.oppty-list-details {
   font-size: 13px;
   margin: 1px 5px 1px 20px;
   font-style: italic;
   color: #8F8F8F;
   overflow: visible;
   white-space: normal;
}

.contact-div {
  border: 1px solid #c3c3c3;
  padding: 3px 3px 3px 3px;
  //float:left;
}

.contact-title {
   font-size: 13px;
   margin: 1px 5px 1px 0px;
   font-style: italic;
   color: #8F8F8F;
   overflow: visible;
   white-space: normal;
}

.commentscountdown {
   font-size: 13px;
   margin: 1px 5px 1px 0px;
   font-style: italic;
   color: #8F8F8F;
   overflow: visible;
   white-space: normal;
}

.nextstepscountdown {
   font-size: 13px;
   margin: 1px 5px 1px 0px;
   font-style: italic;
   color: #8F8F8F;
   overflow: visible;
   white-space: normal;
}

.contact-value {
   font-size: 17px;
   margin: 1px 5px 1px 0px;
   overflow: visible;
   white-space: normal;
}



